<div class="col-md-3 col-sm-4 mix category_2 photo not_square_resized">
  <%= link_to event_path(event) do %>
    <div class="mix-inner">
      <%= image_tag event.background_or_photo.img_url_low || 'No_image_available.jpg', class: "img-responsive", alt: '' %>
      <div class="mix-details photo-phrame">
        <h4><%= event.name %> (<%= event.decorate_date %>)</h4>
      </div>
    </div>
  <% end %>
</div>